---
import Layout from '../layouts/layout.astro';
---

<Layout title="/ Guides & Tutorials">
	
	<div class="mb-32 mt-32">
		<p class="text-2xl font-semibold tracking-tight xl:text-4xl">Guides & Tutorials</p>
	</div>
	
	<div class="grid xl:grid-cols-3 gap-4 xl:gap-8">
		<div class="xl:col-span-2 xl:row-span-2 h-88 rounded-md bg-gray-200"></div>
		<div class="h-40 rounded-md bg-gray-200"></div>
		<div class="h-40 rounded-md bg-gray-200"></div>
		<div class="h-40 rounded-md bg-gray-200"></div>
		<div class="xl:col-span-2 h-40 rounded-md bg-gray-200"></div>
		<div class="h-40 rounded-md bg-gray-200"></div>
		<div class="h-40 rounded-md bg-gray-200"></div>
		<div class="h-40 rounded-md bg-gray-200"></div>
		<div class="xl:col-span-2 h-40 rounded-md bg-gray-200"></div>
		<div class="h-40 rounded-md bg-gray-200"></div>
		<div class="h-40 rounded-md bg-gray-200"></div>
		<div class="h-40 rounded-md bg-gray-200"></div>
		<div class="h-40 rounded-md bg-gray-200"></div>
		<div class="h-40 rounded-md bg-gray-200"></div>
		<div class="xl:col-span-2 h-40 rounded-md bg-gray-200"></div>
		<div class="h-40 rounded-md bg-gray-200"></div>
		<div class="h-40 rounded-md bg-gray-200"></div>
		<div class="h-40 rounded-md bg-gray-200"></div>
		<div class="h-40 rounded-md bg-gray-200"></div>
		<div class="h-40 rounded-md bg-gray-200"></div>
		<div class="h-40 rounded-md bg-gray-200"></div>
		<div class="h-40 rounded-md bg-gray-200"></div>
		<div class="h-40 rounded-md bg-gray-200"></div>
		<div class="h-40 rounded-md bg-gray-200"></div>
		<div class="xl:col-span-3 h-40 rounded-md bg-gray-200"></div>
		<div class="h-40 rounded-md bg-gray-200"></div>
		<div class="xl:col-span-2 h-40 rounded-md bg-gray-200"></div>
	</div>

</Layout>