---
import Layout from '../layouts/layout.astro';
---

<Layout title="/ Pricing">

	<div class="mb-32 mt-32">
		<p class="text-2xl font-semibold tracking-tight xl:text-4xl">Learn more</p>
	</div>

</Layout>