---

---

<a
  class="mt-8 mb-1 flex place-content-center"
  x-data="{ currentYear: new Date().getFullYear() }"
>
  <img
    src="/mascot-min.png"
    loading="lazy"
    alt="GooseQuack"
    class="w-6 h-6 mr-2"
  />
  <p class="text-gray-700">
    © 2023-<span x-text="currentYear"></span> QuackHost. All Rights Reserved.
  </p>
</a>
