---

---

<nav x-data="{ isOpen: false }">
  <div class="flex flex-wrap my-1 items-center justify-between">
    <a href="/" class="flex items-center">
      <img src="/quackhost.webp" alt="GooseQuack" class="w-10 h-10 mr-2" />
      <span
        class="self-center text-2xl font-semibold whitespace-nowrap hidden sm:block"
      >
        QuackHost
      </span>
    </a>

    <div
      class="items-center justify-between hidden w-full lg:flex md:w-auto md:order-1"
      id="navbar-cta"
    >
      <ul
        class="flex flex-col font-medium border border-gray-100 rounded-lg md:flex-row md:space-x-8 md:mt-0 md:border-0"
      >
        <li>
          <a
            href="/pricing"
            class="text-gray-700 hover:bg-gray-100 hover:text-gray-900 px-3 py-2 rounded-md transition-colors"
          >
            Pricing
          </a>
        </li>
        <li>
          <a
            href="/discord-flock"
            target="_blank"
            class="text-gray-700 hover:bg-gray-100 hover:text-gray-900 px-3 py-2 rounded-md transition-colors"
          >
            Discord Flock
          </a>
        </li>
        <li>
          <a
            href="/guides-&-tutorials"
            class="text-gray-700 hover:bg-gray-100 hover:text-gray-900 px-3 py-2 rounded-md transition-colors"
          >
            Guides & Tutorials
          </a>
        </li>
      </ul>
    </div>

    <div class="flex items-center md:order-2">
      <div class="relative">
        <button
          @click="isOpen = !isOpen"
          class="text-white bg-black hover:bg-gray-900 font-medium rounded-md text-md px-5 py-2.5 md:px-6 md:py-2.5 mr-1 md:mr-2 transition-colors sm:hidden"
        >
          Sign In
        </button>

        <div
          x-show="isOpen"
          @click.away="isOpen = false"
          class="absolute right-0 mt-2 w-max origin-top-right bg-white border border-gray-200 rounded-md shadow-lg z-10 sm:hidden"
          style="display: none;"
        >
          <a
            href="https://client-portal.quack.host"
            class="block px-8 py-2 text-md text-black hover:bg-gray-100 hover:text-gray-900 px-5 py-2.5"
            role="menuitem"
          >
            Client Portal
          </a>
          <a
            href="https://panel.quack.host"
            class="block px-8 py-2 text-md text-black hover:bg-gray-100 hover:text-gray-900 px-5 py-2.5"
            role="menuitem"
          >
            Quack Panel
          </a>
        </div>
      </div>
      <div class="hidden sm:flex">
        <a
          href="https://client-portal.quack.host"
          class="text-gray-800 hover:bg-gray-100 hover:text-black font-medium rounded-md text-md px-5 py-2.5 md:px-6 md:py-2.5 mr-1 md:mr-2 transition-colors"
        >
          Client Portal
        </a>
        <a
          href="https://panel.quack.host"
          class="text-white bg-black hover:bg-gray-900 font-medium rounded-md text-md px-5 py-2.5 md:px-5 md:py-2.5 transition-colors"
        >
          QuackPanel
        </a>
      </div>
    </div>
  </div>
</nav>
