---

---

<div class="mb-4 sm:mb-8 md:mb-16 lg:mb-32" aria-label="Product Features">
  <div
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 sm:gap-6 md:gap-8 lg:gap-x-8 lg:gap-y-16 xl:gap-y-32"
  >
    <div>
      <h2
        class="text-2xl flex font-semibold mb-2 underline decoration-4 decoration-sky-500"
      >
        Powerful
        <img
          src="/index/doodles/joy-leap.png"
          class="-ml-1 transition duration-300 ease-in-out hover:-translate-y-1"
          alt="joy leap"
          width="36"
          height="36"
        />
      </h2>
      <p class="text-gray-600 font-normal">
        PS: Not a real host yet, qui dolorem ipsum quia dolor sit amet,
        consectetur, adipisci velit, sed quia non numquam eius modi tempora
        incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
      </p>
    </div>

    <div>
      <h2
        class="text-2xl flex font-semibold mb-2 underline decoration-4 decoration-blue-500"
      >
        Reliable
        <img
          src="/index/doodles/rocking-chair.png"
          class="ml-1"
          alt="rocking chair"
          width="36"
          height="36"
        />
      </h2>
      <p class="text-gray-600 font-normal">
        Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
        consectetur, adipisci velit, sed quia non numquam eius modi tempora
        incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
      </p>
    </div>

    <div>
      <h2
        class="text-2xl flex font-semibold mb-2 underline decoration-4 decoration-green-500"
      >
        Scalable
        <img
          src="/index/doodles/cycle.png"
          class="ml-1 transition duration-300 ease-in-out hover:animate-spin"
          alt="cycle"
          width="36"
          height="36"
        />
      </h2>
      <p class="text-gray-600 font-normal">
        Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
        consectetur, adipisci velit, sed quia non numquam eius modi tempora
        incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
      </p>
    </div>

    <div>
      <h2
        class="text-2xl flex font-semibold mb-2 underline decoration-4 decoration-emerald-500"
      >
        Transparent
        <img
          src="/index/doodles/tree.png"
          class="ml-1 transition duration-700 ease-in-out hover:scale-110"
          alt="tree"
          width="36"
          height="36"
          loading="lazy"
        />
      </h2>
      <p class="text-gray-600 font-normal">
        Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
        consectetur, adipisci velit, sed quia non numquam eius modi tempora
        incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
      </p>
    </div>

    <div class="col-span-1 sm:col-span-2">
      <h2
        class="text-2xl flex font-semibold mb-2 underline decoration-4 decoration-indigo-500"
      >
        Secured by off-site backups
        <img
          src="/index/doodles/rain.png"
          class="ml-1 hidden sm:block transition duration-300 ease-in-out hover:translate-x-1 hover:-translate-y-1"
          alt="rain"
          width="36"
          height="36"
          loading="lazy"
        />
        <img
          src="/index/doodles/rain.png"
          class="ml-1 sm:hidden block transition duration-300 ease-in-out hover:translate-x-1 hover:-translate-y-1"
          alt="rain"
          width="72"
          height="72"
          loading="lazy"
        />
      </h2>
      <p class="text-gray-600 font-normal">
        Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut
        fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem
        sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor
        sit amet, consectetur, adipisci velit, sed quia non numquam eius modi
        tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
      </p>
    </div>
  </div>
</div>
