---

---

<div class="mb-4 sm:mb-8 md:mb-16 lg:mb-32" aria-label="Powered by QuackPlane">
  <div class="grid grid-cols-1 sm:grid-cols-5 gap-6 sm:gap-y-28 transition-all">
    <div
      class="col-span-3 bg-stone-300 sm:bg-transparent 2xl:bg-stone-300 rounded-sm"
    >
      <img
        src="/index/quackplane.webp"
        class="rounded-sm transition-transform duration-300 ease-in-out -translate-y-1 -translate-x-1 hover:translate-y-0 hover:translate-x-0"
        alt="Quack Panel"
        width="1253"
        height="1016"
        loading="lazy"
      />
    </div>

    <div class="col-span-2">
      <h2
        class="text-3xl flex font-medium mb-2 underline decoration-4 decoration-lime-300"
      >
        Powered by QuackPlane
        <img
          src="/index/doodles/diamond-sparkle.png"
          class="hidden sm:block"
          alt="diamond sparkle"
          width="36"
          height="36"
          loading="lazy"
        />
        <img
          src="/index/doodles/jinn.png"
          class="hidden sm:block"
          alt="jinn"
          width="36"
          height="36"
          loading="lazy"
        />
        <img
          src="/index/doodles/diamond-sparkle.png"
          class="sm:hidden block"
          alt="diamond sparkle"
          width="72"
          height="72"
          loading="lazy"
        />
        <img
          src="/index/doodles/jinn.png"
          class="sm:hidden block"
          alt="jinn"
          width="72"
          height="72"
          loading="lazy"
        />
      </h2>

      <p class="text-gray-600 font-normal mb-2">
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem
        accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab
        illo inventore veritatis et quasi architecto beatae vitae dicta sunt
        explicabo.
      </p>
      <p class="text-gray-600 font-normal mb-2">
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem
        accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab
        illo inventore veritatis et quasi architecto beatae vitae dicta sunt
        explicabo.
      </p>
      <p class="text-gray-600 font-normal mb-2">
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem
        accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab
        illo inventore veritatis et quasi architecto beatae vitae dicta sunt
        explicabo.
      </p>
      <p class="text-gray-600 font-normal mb-2">
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem
        accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab
        illo inventore veritatis et quasi architecto beatae vitae dicta sunt
        explicabo.
      </p>
    </div>
  </div>
</div>
