---

---

<div class="grid grid-cols-5 mb-16 gap-8 py-32 items-center">
  <div class="col-span-5 md:col-span-2">
    <h1
      class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-black sm:text-5xl lg:text-6xl"
    >
      <span
        class="underline underline-offset-3 decoration-8 decoration-blue-400"
      >
        Geese 'mzing
      </span>
    </h1>
    <h1
      class="mb-6 text-4xl ease-in-out font-extrabold font-inter leading-none tracking-tight text-black sm:text-5xl lg:text-6xl"
    >
      Minecraft Hosting
    </h1>

    <div
      class="flex flex-col w-fit space-y-4 sm:flex-row sm:space-y-0 sm:space-x-4 mt-6"
    >
      <div class="flex bg-black rounded-md">
        <a
          href="/pricing"
          class="min-w-52 sm:min-w-0 text-white bg-zinc-950 hover:bg-zinc-900 font-medium rounded-md text-md px-5 py-2.5 sm:px-5 md:py-2.5 -translate-y-0 translate-x-0 hover:-translate-y-1 hover:translate-x-1 transition-transform duration-300 ease-in-out"
        >
          Launch your server
        </a>
      </div>
      <div class="flex bg-zinc-100 rounded-md">
        <a
          href="/quackplane"
          class="min-w-52 sm:min-w-0 text-black bg-zinc-100 hover:bg-zinc-50 font-medium rounded-md text-md px-5 py-2.5 sm:px-5 md:py-2.5 -translate-y-0 translate-x-0 hover:-translate-y-1 hover:translate-x-1 transition-transform duration-300 ease-in-out"
        >
          Discover QuackPlane
        </a>
      </div>
    </div>
  </div>

  <div
    class="col-span-3 text-gray-200 hidden md:block hover:transition hover:transition-700 hover:ease-in-out hover:brightness-105 hover:skew-y-1 duration-300"
  >
    <img
      src="/index/minecraft-goose.gif"
      class=""
      alt="Minecraft Goose"
      width=""
      height=""
    />
  </div>
</div>
