---

---

<div class="">
  <h2 class="text-2xl sm:flex font-semibold mb-2 items-center mb-16">
    <img
      src="/index/doodles/chat.png"
      loading="lazy"
      class=""
      alt="text"
      width="62"
      height="62"
    />
    <span class="underline decoration-4 decoration-emerald-200">Questions?</span
    >
    <img
      src="/index/doodles/owl.png"
      loading="lazy"
      class=""
      alt="text"
      width="62"
      height="62"
    />
    <span class="underline decoration-4 decoration-indigo-200"
      >We've got answers.</span
    >
  </h2>
  <h1
    class="text-xl flex font-semibold ml-6 mb-2 items-center underline decoration-2 decoration-stone-200"
  >
    Question one
  </h1>
  <p class="text-gray-600 font-medium ml-8 leading-7 mb-8">
    Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
    sed quia consequuntur magni dolores eos qui ratione voluptatem sequi
    nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
    consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt
    ut labore et dolore magnam aliquam quaerat voluptatem.
  </p>
  <h1
    class="text-xl flex font-semibold ml-6 mb-2 items-center underline decoration-2 decoration-stone-200"
  >
    Question two
  </h1>
  <p class="text-gray-600 font-medium ml-8 leading-7 mb-8">
    Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
    sed quia consequuntur magni dolores eos qui ratione voluptatem sequi
    nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
    consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt
    ut labore et dolore magnam aliquam quaerat voluptatem.
  </p>
  <h1
    class="text-xl flex font-semibold ml-6 mb-2 items-center underline decoration-2 decoration-stone-200"
  >
    Question three
  </h1>
  <p class="text-gray-600 font-medium ml-8 leading-7 mb-8">
    Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
    sed quia consequuntur magni dolores eos qui ratione voluptatem sequi
    nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
    consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt
    ut labore et dolore magnam aliquam quaerat voluptatem.
  </p>
  <h1
    class="text-xl flex font-semibold ml-6 mb-2 items-center underline decoration-2 decoration-stone-200"
  >
    Question four
  </h1>
  <p class="text-gray-600 font-medium ml-8 leading-7 mb-8">
    Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
    sed quia consequuntur magni dolores eos qui ratione voluptatem sequi
    nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
    consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt
    ut labore et dolore magnam aliquam quaerat voluptatem.
  </p>
</div>
